$white: white;
$black: #0B0C10;
$black_light: #1F2833;
$black_light_opacity: rgba(31, 40, 51, 0.9);
$black_light_2: #151c23;
$black_lighter: #2c3b4c;
$black_lighter_opacity: rgba(44, 59, 76, 0.9);
$grey: #C5C6C7;
$grey_light: #e2e2e2;
$grey_lighter: #efeded;
$grey_dark: #6c6d6d;
$aqua: #66FCF1;
$aqua_opacity: rgba(102, 252, 241, 0.9); 
$aqua_dark: #45A29E;
$aqua_dark_opacity: rgba(69, 162, 158, 0.9);
$aqua_darker: #2e6d6a;
$aqua_darker_opacity: rgba(46, 109, 106, 0.9);
$aqua_darker2: #296360;
$red_light: #f97777;
$red_light_opacity: rgba(249, 119, 119, 0.8);
$red_lighter: #f9a4a4;
$green_light: #00ff00;
$green_dark: #009e00;
$green_dark_opacity: rgba(0, 158, 0, 0.8);
$red_google: #db3236;
$blue: #3b5998;
$blue_opacity: rgba(59, 89, 152, 0.8);
$blue_light: #7ea5f7;
$blue_light2: #4e86fc;
$blue_dark: #273c68;
$blue_facebook: #3B5998;