.spinner-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 22;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
    > .inner {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
    }
}

